@import url(http://fonts.googleapis.com/css?family=Sniglet);
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);


@import url(reset.css);

body{
	background-image: url(../img/pizza.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Sniglet' sans-serif;
	font-size: 18px;

}

.img-responsive {
	width: 50%;
	float: bottom;
}

.img-menu{
	width: 50%;
	padding-top: 10%;
	padding-bottom: 12%;
}


.pizzaguy{
	width: 50%;
	height: 2%;
	float: top;
}
.row1{
	background-color: white;
}

.container-box{
	background-color: white;
	box-shadow: 1px 1px 3px #555;
	border-radius: 10px;
}

.container-bk{
	background-image: url(../img/back.png);
	border-radius: 10px;
}

.container-boxmenu{
	background-color: lightgray;
	box-shadow: 1px 1px 3px #555;
	border-radius: 10px;

}

.templates{
	display: none;
}

.moveright{
	float: right;
}

.cart-items-container{
	float: right;
}

.jobs-heading{
	color: white;
	font-size: 200%;
}

.breadcrumb{
	color: red;
}

.about{
	font-size: 120%;
	color: red;
}

.sub-heading{
	color: red;
	font-family: 'Sniglet';
	font-size: 200%;
}

.col{
	width: 10%;
	float: right;
}


.col-pic{
	width: 20%;
	float: right;
	padding: 2%;
}



.well{
	text-align: center;
	opacity: .5;
	font-weight: bold;
	color: black;
}

.menu-pic{
	float: bottom;
	width: 110%;
	height: 200%;
	margin-right: 1em;
	margin-bottom: 1em;
	padding-top: 50px;
}

@media screen and (max-width: 100px) {
    .twitter-timeline{
    	width: 100%;
    	height: 100%;
    }

    .thumbnail{
    	width: 50%;
    	height: 50%;
    }

}

.name{
	color: purple;
	font-size: 120%;
	font-weight: bold
}
p{
	padding: 2px;
}

.pizza{
	font-size: 90%;
}

dt {
	padding-left: 20px;
}

dd{
	padding-left: 40px;
}


.twitter-timeline{
	width: 50%;
	height: 220%;
	padding-left: 1%;
}



